body {
  font-size: 16px;
  margin: 0;
  padding:20px;
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  color: #181616;
}


#content {
  width: fit-content;
  margin: 0 auto;
  background-color: #ece8e4;
  padding: .5em;
  box-shadow: 0 0 30px #333;
  border-radius: 10px;
  margin: 0 auto;
}

h1 { 
  color: #964130;
  text-align: center;
  padding: 10px;
  font-family:cursive;
}

h3 {
  margin-left: 15px;
  color: #4213ad;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e9bfbf6c;
    padding:15px;
    border-radius: 50px;
  }
  
  li, li a{
    text-align: left;
    font-size: 16px;
    color: #000;
    padding-left: 30px;
  }
   
  li a:hover {
    background-color: #25bad4;
  }
  footer{
    text-align: center;
    font-size: 20px;
    background-color: #25bad4;
    border-radius: 35px;
  }